<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Hello, User 1</titulo>
    
    <hr>
    
    <div align="right">
    <button class="btn btn-primary btn-md" onclick="window.location.href='userprofile'">Profile</button>
    </div>
    <div align="center">
    <button class="btn btn-primary btn-md" onclick="window.location.href='posts/new'">New Post</button>
    </div>
    <br>
    
    <br>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <div align="center">
            <input type="text" class= "form-control" placeholder="Search User / Post...">
        </div>
      </div>
      <div class="col-md-5"></div>
    </div>
    <br>
    <table align="center">
      <tr>
        <th>User</th>
        <th>Post ID</th>
        <th>Post Title</th>
        <th>Action</th>
        
      </tr>
      <tr>
        <td>Luis</td>
        <td>33</td>
        <td>The Same</td>
        <td><button class="btn btn-primary btn-md" onclick="window.location.href='posts/1'">View</button></td>
        
      </tr>
      <tr>
        <td>User 1</td>
        <td>45</td>
        <td>A Meh Title</td>
        <td><button class="btn btn-primary btn-md" onclick="window.location.href=#">View</button></td>
        
      </tr>
      <tr>
        <td>User 3</td>
        <td>8</td>
        <td>Im So Tired</td>
        <td><button class="btn btn-primary btn-md" onclick="window.location.href=#">View</button></td>
        
      </tr>
    </table>
</body>
 
</html>