<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Hello, User 1</titulo>
    <div align="right">
        <input type="button" value="Logout" />
    </div>
    <hr>
    
    <div align="right">
        <input type="button" onclick="window.location.href='userprofile'" value="Profile" />
    </div>
    <div align="center">
        <input type="button" onclick="window.location.href='posts/new'" value="New Post" />
    </div>
    <br>
    
    <br>
    <div align="center">
        <input type="text" placeholder="Search User / Post...">
    </div>
    <br>
    <table align="center">
      <tr>
        <th>User</th>
        <th>Post ID</th>
        <th>Post Title</th>
        <th>Action</th>
        
      </tr>
      <tr>
        <td>User 1</td>
        <td>33</td>
        <td>An Intresting Title</td>
        <td><input type="button" onclick="window.location.href='posts/1'" value="View" /></td>
        
      </tr>
      <tr>
        <td>User 1</td>
        <td>45</td>
        <td>A Meh Title</td>
        <td><input type="button" value="View" />
        
      </tr>
      <tr>
        <td>User 3</td>
        <td>8</td>
        <td>Im So Tired</td>
        <td><input type="button" value="View" />
        
      </tr>
    </table>
</body>
 
</html>