<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Change Password</titulo>
        <div align="right">
    <input type="button" value="Logout" />
    </div>
    <hr>
    <br>
    <div class= "c">Current Password: <input type="text" name="fname"><br></div>
    <br>
    <div class= "c">New Password: <input type="text" name="fname"><br></div>
    <br>
    <div class= "c">Repeat Password: <input type="text" name="fname"><br></div>
    <br>
    <div class= "c"><input type="button" value="Change Password"/></div>
    
    <br>
    <div class="r">
        <button class="button">Back</button>
    </div>
</body>
 
</html>