<!DOCTYPE html>
<html>
<head>
    <title>Profie</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>User 1 - Profile</titulo>
        <div align="right">
    <input type="button" value="Logout" />
    </div>
    <hr>
    <div class= "r">
        <button class="button">Edit</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class= "c">
        <box>
        </box>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class= "c">User Name: 
        Juan Hernandez<br>
    <br>
    Email: 
        jhernandez@gmail.com<br>
    <br>
    City: 
        Los Angeles<br>
    <br>
    GPS: 
        #####<br>
    <br>
    Country: 
        USA<br>
    <br>
    <a>Bio</a>
    <br>
        <textarea rows="5" cols="60">
         </textarea>
    <br>
        <br>
    <button class="button">View Posts</button>
    <br>
    <br>
    <button class="button">User Activity</button>
    <br>
    <br>
    </div>
    <div class="r">
        <button class="button">Back</button>
    </div>
    
</body>
</html>