<!DOCTYPE html>
<html>
<head>
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div align="center">
        <TC>The Complaint</TC>
    </div>
        
    <br>
    <br>
    <br>
    <br>
    
    <div class= "c">
        
        User: <input type="text" name="fname">
        <br>
        <br>
        Password: <input type="text" name="fname">
        <br>
        <br>
        <a href="">Forgot your password?</a>
        <br>
        <br>
        <br>
        <br>
        <button class="button">Login</button>
        <button class="button">Admin Login</button>
        <button class="button">SA Login</button>
        <br>
        <br>
        <button class="button2">Sign in with Google</button>
    </div>
</body>
</html>


