<!DOCTYPE html>
<html>
<head>
    <title>Admin System</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Administration System</titulo>
    <div align="right">
        <input type="button" value="Logout" />
    </div>
    <hr>
    <div align="right">
        <input type="button" value="New Admin" />
    </div>
    <br>
    <table align="center">
      <tr>
        <th>Admin</th>
        <th>Geofence</th>
        <th>Last Access</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td>User 1</td>
        <td>Geo 1</td>
        <td>3/3/2019</td>
        <td><input type="button" onclick="window.location.href='users/1/edit'" value="Edit" /></td>
        <td><input type="button" value="Delete" /></td>
      </tr>
      <tr>
        <td>User 2</td>
        <td>Geo 2</td>
          <td>3/3/2019</td>
        <td><input type="button" onclick="window.location.href=#" value="Edit" /></td>
        <td><input type="button" value="Delete" /></td>
      </tr>
      <tr>
        <td>User 3</td>
        <td>Geo 3</td>
        <td>5/10/2016</td>
        <td><input type="button" onclick="window.location.href=#" value="Edit" /></td>
        <td><input type="button" value="Delete" /></td>
      </tr>
    </table>
    <br>
    <br>
    <div align="center">
        <input type="button" onclick="window.location.href='blacklist'" value="Blacklist" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" onclick="window.location.href='dumpster'" value="Dumpster" />
    </div>
</body>
 
</html>