<!DOCTYPE html>
<html>
<head>
    <title>Admin System</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>Administration System</titulo>
    <hr>
    <div align="right">
    <button class="btn btn-primary btn-md" onclick="window.location.href=#">New Admin</button>
    </div>
    <br>
    <table align="center">
      <tr>
        <th>Admin</th>
        <th>Geofence</th>
        <th>Last Access</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td>User 1</td>
        <td>Geo 1</td>
        <td>3/3/2019</td>
        <td><button class="btn btn-primary btn-md" onclick="window.location.href='users/1/edit'">Edit</button></td>
        <td><button class="btn btn-danger btn-md" onclick="window.location.href=#">Delete</button></td>
      </tr>
      <tr>
        <td>User 2</td>
        <td>Geo 2</td>
          <td>3/3/2019</td>
        <td><button class="btn btn-primary btn-md" onclick="window.location.href=#">Edit</button></td>
        <td><button class="btn btn-danger btn-md" onclick="window.location.href=#">Delete</button></td>
      </tr>
      <tr>
        <td>User 3</td>
        <td>Geo 3</td>
        <td>5/10/2016</td>
        <td><button class="btn btn-primary btn-md" onclick="window.location.href=#">Edit</button></td>
        <td><button class="btn btn-danger btn-md" onclick="window.location.href=#">Delete</button></td>
      </tr>
    </table>
    <br>
    <br>
    <div align="center">
    <button class="btn btn-primary btn-md" onclick="window.location.href='blacklist'">Blacklist</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary btn-md" onclick="window.location.href='dumpster'">Dumpster</button>
    </div>
</body>
 
</html>